
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.repoLink{
  position:absolute;
  top: 0;
  left: 0;
  height: 10vmin;
}


.App-link {
  color: #61dafb;
}

a{
  color: lightskyblue
}

a:visited{
  color: #ccccff;
}

a:hover{
  color: yellow;
}