
.App {
  text-align: center;
  background-color: #EFF7FF;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
}

.repoLink{
  position:absolute;
  top: 0;
  left: 0;
  height: 10vmin;
}


.App-link {
  color: #61dafb;
}

a{
  color: lightskyblue
}

a:visited{
  color: #ccccff;
}

a:hover{
  color: yellow;
}