.App {
  /* text-align: center; */
  /* height: 100vh; */
  /* display: flex; */
  /* justify-content: center; */

  /* color: white; */
}

.repoLink {
  position: absolute;
  top: 0;
  left: 0;
  height: 10vmin;
}

.App-link {
  color: #61dafb;
}

a {
  /* color: lightskyblue; */
  text-decoration: none;
}

a:visited {
  /* color: #ccccff; */
}

a:hover {
  /* color: yellow; */
  text-decoration: underline;
}

.Link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 75px;
  height: 25px;
  padding: 2px;
  background: #0077d6;
  color: white;
  border-radius: 5px;
  border: solid 1px white;
}

.Link:hover {
  cursor: pointer;
  text-decoration: none;
  border-color: #0077d6;
  background: white;
  color: #0077d6;
}

.SearchButton {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;

  font-size: 20px;
  margin: 15px auto 15px auto;
  width: 600px;
  height: 50px;
  background: #0077d6;
  color: white;
  border-radius: 5px;
  border: solid 1px white;
}

.SearchButton:hover {
  border-color: #0077d6;
  background: white;
  color: #0077d6;
  cursor: pointer;
}
