.Post{
    /* background-color: white; */
    /* margin: 10px 10px 10px 10px; */
    padding: 25px;
    font-size: calc(10px + 1vmin);
    /* width: 50vw; */
    /* min-height: 10vh; */
    /* width: 750px; */
    height: 150px;
}

.PreviewImage{
    float: left;
    margin-right: 41px;
    /* 25 + 16 from mui cards */
}

.PostTitle{
    font-size: calc(10px + 2vmin);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Identifiers{
    font-size: calc(5px + 1vmin);
    margin-top: 25px;
}

.Stats{
   font-size: calc(5px + 1vmin);
    
}
.Link{
    float: right;
    text-align: center;
}

